#header{
	display: flex;
	align-item: center;
	justify-content: space-between;
	padding: 20px 80px;
	background: rgba(63, 202, 112, 0.863);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
	z-index: 999;
	position: sticky;
	top: 0;
	left: 0;

}

#navbar{
	display: flex;
	align-item: center;
	justify-content: center;
}
#navbar li{
	list-style: none;
	padding: 0 20px;
	position: relative;
}
#navbar li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: red;
	transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
	color: green;

}
#navbar li a.active::after,
#navbar li a:hover::after{
	content: "";
	width: 30%;
	height: 2px;
	background: green;
	position: absolute;
	bottom: -4px;
	left: 20px;
}